.title_reviews_api { background: #F7F1F1; padding: 10px; margin-bottom: 14px;}
 input.regular-api-text {width: 30em;padding-top: 5px;}
 select.regular-api-text {width: 30em !important;padding-top: 5px;}
.button_subm {margin: 1px !important;}
.form_map_api strong {width: 11em;float: left;}
